body {
    background: slategray;
}

.main-container {
    margin-top: 30px;
}

.game-title {
    font-family: fantasy;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color: #ffffff;
}

H1 {
    font-size: 50px;
}

img {
    max-width:100%;
}

.col-7 {
    padding: 25px;
    background: #ffffff;
}

#winCounter,
#wordTitle,
#currentWord,
#guessesRemainingTitle,
#current-guesses,
#lettersTitle,
#guessedLetters,
#message {
    margin-top: 20px;

}

#currentWord,
#currentGuesses,
#guessedLetters {
    height: 20px;
    font-size: 20px;
}

#message {
    font-size: 30px;
    font-weight: bold;
}